.App {
  text-align: center;
  margin: auto;
  height: 100vh;
  background: #8338ec;
  display: flex;
}

.unsubscribe-settings {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  justify-content: center;
}

#unsubscribe-content {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 4px;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #008CBA;
  color: white;

}